// @import "normalize";
@import "fonts";
@import "rouge-base16-dark";
@import "not_relevant";
@import "header";

body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  margin: 10em 7em 10em 0;
}

.content {
  padding: 0 30px 50px 30px;
  position: relative;
  border-radius: 3px;
}

nav {
  min-width: 12.5em;
  max-width: 15em;
  position: fixed;
  padding: 0 2em 0 0;
  left: 0;
  text-align: right;
  overflow-y: scroll;
  max-height: 100vh;
  margin-bottom: 25%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }

  ul {
    list-style: none;
    list-style-image:none;
    font-size: 16px;
    line-height:24px;

    li {
      padding: 5px 0px;
      margin: 5px 0;
      line-height: 16px;
      // padding-right:17px;
      // position:relative;
      // right:-12px;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 30em;
      }

      &.tag-h1 {
        font-size: 1.2em;

        a {
          font-weight: bold;
          color: #333;
        }

        + .tag-h2 {

        }
      }

      &.tag-h2 {

        + .tag-h1 {
          margin-top:10px;
        }
      }
    }

    a {
      color: #666;

      &:hover { color: #999; }

    }

    .active {
       border-right:solid 4px #39C;
       padding-right:13px;

      a {
        font-weight: 600;
      }
    }
  }
}

footer {
  min-width: 12.5em;
  max-width: 12.5em;
  position: fixed;
  padding: 0 2em 0 0;
  left: 0;
  bottom:20px;
  text-align: right;
  line-height: 16px;
}

@media print, screen and (max-width: 1250px) {

  section {
    margin: 10em 2em 10em 0;
  }
}

@media print, screen and (max-width: 1060px) {

  section {
    margin: 10em 2em 10em 0;
  }

  section {
    padding:20px auto;
    // max-width: 600px;
  }

  footer{
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
    }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
    padding: 2em;
  }

  nav {
    display: none;
  }

  section {
    margin-bottom: 0px;
    width: auto;
  }
}

@media print, screen and (max-height: 680px) {
  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
  }
}

@media print, screen and (max-width: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
